.container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 5rem;
    padding: 0 10rem;
}

.container img {
    height: 20rem;
    flex-basis: 40%;
    border: solid 2px black;
    border-radius: 15px;
}

.recipeInfoContainer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 3rem 0;
    padding: 1rem 3rem;
}