.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
    gap: 3rem;
    padding: 0 6rem;
}

.container img {
    width: 35%;
    border: solid 3px black;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

.recipeInfoContainer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 3rem 0;
    padding: 1rem 3rem;
}

.commentsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    font-size: 1.5rem;
    gap: 3rem;
}

.youtubeVideoSection {
    display: flex;
    justify-content: center;
}

.youtubeVideoSection iframe {
    width: 60%;
    height: 35rem;
    border-radius: 15px;
}

.recipeCommentStarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}