.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 6rem;
    background-color: #31837B;
    height: calc(100vh - 80px);
}

.container img {
    width: 35%;
    border: solid 3px black;
    border-radius: 15px;
}

.recipeInfoContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 4rem;
    background-color: #008F92;
}

.youtubeVideoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    background-color: #008F92;
}

.youtubeVideoSection iframe {
    flex-basis: 60%;
    height: 35rem;
    border-radius: 15px;
}

.youtubeVideoSection div {
    flex-basis: 40%;
}

.youtubeVideoSection div p {
    font-size: 1.4rem;
    text-align: justify;
    font-style: italic;
    border: solid 3px black;
    padding: 1rem;
    border-radius: 10px;
    color: #BEE576;
}

.recipeCommentStarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    background-color: #31837b;
}

.recipePropertiesContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 4rem;
    background-color: #31837b;
}

.recipeProperty {
    flex-basis: 33.33%;
    border: solid 2px black;
    border-radius: 15px;
    font-size: 2rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #93DC80;
}