@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

main {
    font-family: 'PT Serif';
    margin-top: 80px;
}

@media only screen and (max-width: 1000px) {
    main {
        margin-top: 40px;
    }
}