.card {
    width: 60%;
    border: solid 3px black;
}

.cardHeader {
    background-color: #93DC80;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHeaderContainer {
    display: flex;
    gap: 1rem;
}

.cardBody {
    background-color: #2C3E50;
    color: white;
}