.card {
    width: 80%;
    border: solid 3px black;
}

.cardHeader {
    background-color: #93DC80;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBody {
    background-color: #2C3E50;
    color: white;
}

.thumbsUpIcon {
    cursor: pointer;
}

.thumbsUpIcon,
.thumbsUpIconAuthor {
    margin-right: 5px;
}

.commentBtnsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.thumbsUpContainer {
    display: flex;
    align-items: center;
}

.commentInfoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}