.starButton,
.starButton:hover,
.starButton:active {
    font-size: 1.5rem;
    background-color: #93DC80;
    padding: 1rem 2rem;
    border-radius: 15px;
    text-transform: uppercase;
    border: solid 3px black;
    width: 100%;
}

.starButton:hover {
    color: white;
}

.modalBody {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 5rem;
    padding: 5rem 0;
    background-color: #2C3E50;
}

.modalHeader {
    background-color: #93DC80;
}

.starIcon {
    font-size: 4rem;
}

.starIcon:hover {
    cursor: pointer;
}

.radioBtn {
    display: none;
}

.ratingSection {
    border: solid 2px black;
    padding: 1.5rem 5rem;
}

.ratingSection h3 {
    margin-bottom: 2rem;
}

.buttonContainer {
    padding: 1rem 2rem;
    background-color: #2C3E50;
}

.buttonContainerBtn {
    font-size: 1.5rem;
    background-color: #93DC80;
    border-radius: 15px;
    text-transform: uppercase;
    border: solid 3px black;
    padding: 0.5rem 0;
}

.buttonContainerBtn:hover {
    color: white;
}

.card {
    width: 70%;
    background-color: #2C3E50;
    color: white;
    font-size: 1.4rem;
    text-align: justify;
    border: solid 4px #93DC80;
}