.starButton,
.starButton:hover,
.starButton:active {
    font-size: 1.5rem;
    background-color: #93DC80;
    padding: 1rem 2rem;
    border-radius: 15px;
    text-transform: uppercase;
    border: solid 3px black;
}

.starButton:hover {
    color: white;
}

.modalBody {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 5rem;
    padding: 5rem 0;
}

.starIcon {
    font-size: 4rem;
}

.starIcon:hover {
    cursor: pointer;
}

.radioBtn {
    display: none;
}

.ratingSection {
    border: solid 2px black;
    padding: 1.5rem 5rem;
}

.ratingSection h3 {
    margin-bottom: 2rem;
}

.buttonContainer {
    padding: 1rem 2rem;
}

.buttonContainer button {
    text-transform: uppercase;
}