.recipesContainer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.noRecipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.noRecipesContainer h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.searchForm {
    width: 75%;
}

.searchBtn,
.searchBtn:hover,
.searchBtn:active {
    background-color: #93DC80;
    border: solid 2px black;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    border-radius: 8px;
}

.searchBtn:hover {
    color: white;
}