.card {
    flex-basis: 50%;
    font-size: 1.4rem;
    border: solid 2px #93DC80;
    text-align: justify;
}

.card:hover {
    box-shadow: 5px 5px 2px #93DC80;
}

.card a {
    text-decoration: none;
}

.cardHeader {
    background-color: #93DC80;
    color: black;
    border-bottom: solid 2px black;
}

.cardBody {
    background-color: #2c3e50;
    color: white;
}

.cardBody:hover {
    color: #93DC80;
}

.createCategoryButton,
.createCategoryButton:active,
.createCategoryButton:hover {
    background-color: #18A392;
    color: white;
    padding: 0.7rem;
    text-transform: uppercase;
    border-radius: 15px;
    border: solid 3px #93DC80;
}