.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 10rem;
    /* border: solid 2px black; */
    height: 30rem;
}

.container img {
    flex-basis: 40%;
    height: 100%;
    width: 20%;
    border: solid 2px black;
    border-radius: 15px;
}

.card {
    flex-basis: 60%;
    font-size: 1.4rem;
    text-align: justify;
    border: solid 2px black;
    background-color: #2C3E50;
    color: white;
}

.cardBtn {
    width: 100%;
    background-color: #93DC80;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.cardBtn:hover {
    color: white;
}