.recipesInCategorySection {
    min-height: calc(100vh - 160px);
}

.heading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
    color: white;
}

.noRecipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.noRecipesContainer h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 0 10rem;
}

.sortFilterCommentsBtn {
    background-color: #93DC80;
    color: black;
    border: solid 2px black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    flex-basis: 50%;
    font-size: 1.3rem;
}

.sortFilterCommentsBtnActive {
    background-color: #93DC80;
    color: white;
    border: solid 2px black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    flex-basis: 50%;
    font-size: 1.3rem;
}

.sortFilterCommentsBtn:hover {
    color: white;
}