@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

.navbar {
    font-family: "Playpen Sans";
}

.navbar a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #93DC80;
}

.navbarNav {
    align-items: center;
    margin-right: auto;
}

.activeLink {
    color: #93DC80 !important;
}

@media only screen and (max-width: 992px) {
    .navbar a {
        margin: 0 !important;
    }

    .navbarNav {
        align-items: normal !important;
    }
}