@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

.navbar {
    font-family: "Playpen Sans";
}

.collapse div:first-child {
    align-items: center;
    margin-right: auto;
}

.navbarToggler {
    border-color: white;
}

.toggle {
    color: white;
    border-color: white;
}

.collapse div:nth-child(2) {
    align-items: center;
}

.link {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #93DC80;
}

.navbarText,
.navbarText a {
    color: white;
}

.navbarText a {
    margin-left: 0;
    margin-right: 1rem;
}

.activeLink {
    color: #93DC80;
    text-decoration: none;
    margin: 0 1rem;
}

.logoutButton {
    background-color: #93DC80;
    border-radius: 5px;
    border: solid 2.5px white;
}

.logoutButton:hover {
    border-color: black;
}

.logoutButton a {
    text-decoration: none;
    color: white;
}

.logoutButton:hover a {
    color: black;
}

@media only screen and (max-width: 992px) {
    .navbar a {
        margin: 0;
    }

    .collapse div:first-child,
    .collapse div:nth-child(2) {
        align-items: normal;
    }

    .logoImg {
        display: none;
    }
}