.form {
    width: 70%;
    text-align: center;
    border: solid 2px black;
    margin: 1.5rem 0;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #2C3E50;
    border: solid 4px #93DC80;
}

.form h2 {
    color: white;
}

.form input,
.form textarea {
    border: solid 2px black;
}

.container {
    display: flex;
    justify-content: center;
}

.heading {
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: white;
}

.blockButton,
.blockButton:hover,
.blockButton:active,
.blockButton:disabled {
    background-color: #93DC80;
    padding: 0.5rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.blockButton:hover,
.blockButton:disabled {
    color: white;
}

.imgContainer {
    margin-bottom: 2rem;
}

.imgContainer img {
    height: 20rem;
    width: 50%;
    border-radius: 15px;
}