.homeSection {
    height: calc(100vh - 80px);
    position: relative;
    isolation: isolate;

    display: flex;
    justify-content: start;
    align-items: center;
}

.homeSection::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .8;

    background-image: url("../../assets/images/HomeImage.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.homeSection h1 {
    color: white;
}