.container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    text-align: center;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    padding: 0 3rem;

}

.button {
    flex-basis: 33.3%;

}

.button,
.activeButton {
    background-color: #93DC80;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 15px;
    text-transform: uppercase;
    width: 100%;
}

.button {
    color: black;
}

.button:hover {
    color: white;
}

.activeButton {
    color: white;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.searchForm {
    width: 75%;
}

.searchBtn,
.searchBtn:hover,
.searchBtn:active {
    background-color: #93DC80;
    border: solid 2px black;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    border-radius: 8px;
}

.searchBtn:hover {
    color: white;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.noRecipesCard {
    flex-basis: 80%;
    border: solid 2px black;
    text-align: justify;
}

.noRecipesCardHeader {
    font-size: 1.3rem;
    border-bottom: solid 2px black;
    background-color: lightcoral;
}

.noRecipesCardBody {
    font-size: 1.5rem;
    background-color: #2C3E50;
    color: white;
}

.noRecipesMessage {
    font-size: 2.5rem;
}