.createRecipeCard {
    background-color: #2c3e50;
    color: white;
    font-size: 1.4rem;
    text-align: justify;
}

.createRecipeCardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createRecipeCardBody:hover {
    color: #93DC80;
}

.createRecipeCard a {
    text-decoration: none;
}

.createRecipeCardHeader {
    background-color: #93DC80;
    color: black;
}

.createRecipeButton,
.createRecipeButton:active,
.createRecipeButton:hover {
    background-color: #18A392;
    color: white;
    padding: 0.7rem;
    text-transform: uppercase;
    border-radius: 15px;
    border: solid 3px #93DC80;
}

.createRecipeButton:hover {
    color: black;
}