.container {
    display: flex;
    gap: 5rem;
    padding: 1rem;
    margin: 0 2.5rem;
    margin-bottom: 2rem;
}

.container img {
    flex-basis: 35%;
    border: solid 2px black;
    border-radius: 30px;
    cursor: pointer;
    transition: transform .2s;
}

.container img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px #93DC80;
}

.card {
    flex-basis: 65%;
    border: solid 2px black;

}

.cardHeader {
    font-size: 1.3rem;
    border-bottom: solid 2px black;
    background-color: #93DC80;
}

.cardBody {
    background-color: #2C3E50;
    color: white;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.spinner {
    width: 10rem;
    height: 10rem;
    font-size: 2rem;
}

@media only screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }
}