.recipeLink {
    flex-basis: 25%;
    text-decoration: none;
}

.recipeCard {
    flex-basis: 25%;
    text-align: center;
    cursor: pointer;
    transition: transform .3s;
    border: solid 2px black;
    color: white;
}

.recipeCard img {
    height: 15rem;
    border-bottom: solid 2px black;

}

.recipeCardBody {
    background-color: #2C3E50;
}

.recipeCard:hover {
    transform: scale(1.1);
    color: #93DC80;
}

.recipeCardTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 340px;
}


.recipesContainer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.recipesSection {
    padding: 2rem 0;
}

.recipesSection h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-decoration: underline;
    font-style: italic;
    color: white;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.searchForm {
    width: 60%;
}

.searchBtn,
.searchBtn:hover,
.searchBtn:active {
    background-color: #93DC80;
    border: solid 2px black;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    border-radius: 8px;
}

.searchBtn:hover {
    color: white;
}