.recipesSection {
    /* padding: 2rem 0; */
    /* border: solid 2px blue; */
}

.recipesSection h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-decoration: underline;
    font-style: italic;
    color: white;
}

.recipesContainer {
    display: flex;
    gap: 4rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: solid 2px red; */
    padding: 2rem 8rem;
}