.recipesContainer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.recipesSection {
    padding: 2rem 0;
}

.recipesSection h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-decoration: underline;
    font-style: italic;
    color: white;
}