.card {
    width: 60%;
    border: solid 3px black;
}

.cardHeader {
    background-color: #93DC80;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBody {
    background-color: #2C3E50;
    color: white;
}

.thumbsUpIcon {
    cursor: pointer;
}

.thumbsUpIcon,
.thumbsUpIconAuthor {
    margin-right: 5px;
}

.commentBtnsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.thumbsUpContainer {
    display: flex;
    align-items: center;
}

.commentInfoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sortFilterCommentsBtn {
    background-color: #93DC80;
    color: black;
    border: solid 2px black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    flex-basis: 50%;
}

.sortFilterCommentsBtnActive {
    background-color: #93DC80;
    color: white;
    border: solid 2px black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    flex-basis: 50%;
}

.sortFilterCommentsBtn:hover {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 0 10rem;
}

.commentsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 3rem;
    padding: 2rem 0;
    background-color: #31837b;
}