.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.table {
    width: 60%;
    text-align: center;
    font-size: 1.3rem;
}

.table tr td {
    align-items: center;
}

.table thead tr th:first-child {
    width: 5%;
}

.actionsCell {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.actionsCell button {
    flex-basis: 50%;
}


.modalHeader {
    background-color: #93DC80;
}

.modalBody {
    font-size: 1.3rem;
    text-align: center;
}

.modalBody,
.modalBtnContainer {
    background-color: #2C3E50;
    color: white;
}

.modalBtnContainer {
    padding: 1rem;
}

.modalBtn {
    background-color: #93DC80;
    padding: 0.5rem 0;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.modalBtn:hover {
    color: red;
}