.manageUsersSection {
    background-color: #31837b;
    height: 100%;
    padding: 2rem 0;
    min-height: calc(100vh - 160px);
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 0 10rem;
    margin: 2rem 0;
}

.filterUsersBtn {
    background-color: #93DC80;
    color: black;
    border: solid 2px black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    flex-basis: 50%;
    font-size: 1.3rem;
}

.filterUsersBtnActive {
    background-color: #93DC80;
    color: white;
    border: solid 2px black;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    flex-basis: 50%;
    font-size: 1.3rem;
}

.filterUsersBtn:hover {
    color: white;
}

.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.table {
    width: 70%;
    text-align: center;
    font-size: 1.3rem;
    justify-content: center;
    margin-top: 2rem;
    background-color: red;
}

.table tr td {
    align-items: center;
}

.table thead tr th:first-child {
    width: 5%;
}

.actionsCell {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.actionsCellBtn {
    flex-basis: 50%;
    text-transform: uppercase;
    background-color: #93DC80;
    color: white;
    border-radius: 15px;
    padding: 0.5rem 0;
}

.actionsCellBtn:hover {
    color: red;
}

.modalHeader {
    background-color: #93DC80;
}

.modalBody {
    font-size: 1.3rem;
    text-align: center;
}

.modalBody,
.modalBtnContainer {
    background-color: #2C3E50;
    color: white;
}

.modalBtnContainer {
    padding: 1rem;
}

.modalBtn {
    background-color: #93DC80;
    padding: 0.5rem 0;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.modalBtn:hover {
    color: red;
}

@media only screen and (max-width: 900px) {
    .actionsCell {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .actionsCell button {
        width: 100%;
    }
}