.recipeCard {
    width: 65%;
    border: solid black 3px;
}

.recipeCardHeader {
    border-bottom: solid 3px black;
    font-size: 1.5rem;
    background-color: #93DC80;
    color: black;
}

.recipeCardBody {
    background-color: #2C3E50;
    color: white;
}

.recipeCardBody p {
    font-size: 1.2rem;
}

.icon {
    color: #93DC80;
}

.recipeOwnerSpan {
    font-style: italic;
}

.commentsLink,
.categoryLink {
    text-decoration: underline;
    font-style: italic;
    color: white;
}

.commentsLink:hover,
.categoryLink:hover {
    color: #93DC80;
}

.heartIcon,
.headrtIconGuest {
    margin-right: 0.5rem;
}

.heartIconRed {
    margin-right: 0.5rem;
    color: red;
}

.heartIcon:hover,
.heartIconRed:hover {
    cursor: pointer;
}