.registerButton {
    background-color: #93DC80;
    border-radius: 5px;
    font-size: 1.5rem;
}

.registerButton:hover {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem 1rem; */
    gap: 2rem;
    height: calc(100vh - 160px);
    background-color: #31837B;
    padding: 1rem 0;
}

.container form {
    flex-basis: 50%;
}

.registerImg {
    height: 30rem;
    border: solid 2px black;
    border-radius: 10px;
}

.form {
    background-color: #2C3E50;
    border-color: #93DC80;
    border: 4px solid #93DC80;
    text-align: center;
    padding: 0 2rem;
    border-radius: 10px;
}

.form h2 {
    color: white;
}

.form a {
    color: white;
    font-size: 1.1rem;
}

.form a:hover {
    color: #93DC80;
}

.formControl {
    border: solid 2px black;
}

.formControlError {
    border: solid 2px red;
}

.formControl:focus,
.formControlError:focus {
    box-shadow: 0 0 0 0.2rem #93DC80;
}

@media only screen and (max-width: 992px) {
    .registerImg {
        display: none;
    }

    .container form {
        flex-basis: 90%;
    }
}